<div class="card-dev">
  <%= link_to dev_path(dev) do %>
    <%= cl_image_tag dev.photo.key, width: 250, height: 250, crop: :fill %>
  <% end %>
  <div class="card-dev-infos">
    <h2><%= link_to dev_path(dev) do %>
      <%= dev.name %> $<%= dev.price %>/h</h2>
    <% end %>
    <h3><%= dev.description%></h3>
    <p>Experience: <%= dev.skills%></p>
    <a href="<%= dev.github_link %>"><i class="fa-brands fa-github"></i> gitHub</a>
  </div>
</div>
