<div class="card-dev">
  <img src="https://pbs.twimg.com/media/EhPPMELX0AADWNK.jpg" />
  <div class="card-dev-infos">
    <h2><%= dev.name %> <%= dev.price %> $/hr</h2>
    <h3><%= dev.description%></h3>
    <p>Experience: <%= dev.skills%></p>
    <a href="<%= dev.github_link %>">Github</a>
  </div>
</div>
