<div class="container">
<h1>Become a Supercoder</h1>

<%= simple_form_for [@dev] do |f|  %>
  <%= f.input :name, placeholder: "Please enter your name" %>

  <%= f.input :github_link, placeholder: "Please enter your Gihub link" %>

  <%= f.input :description, placeholder: "A short description about yourself" %>

  <%= f.input :price, label: "Rate($)" , placeholder: "Whats your hourly wage?" %>

  <%= f.input :skills, placeholder: "Ruby, JS, Python, ..." %>

  <%= link_to "Create Dev Profile" %>

<% end %>
</div>
