<h1>Create a new dev</h1>

<%= simple_form_for [@dev] do |f|  %>
  <%= f.input :name, placeholder: "Please enter your name" %>

  <%= f.input :github_link, placeholder: "Please enter your Gihub link" %>

  <%= f.input :description, placeholder: "A short description about yourself" %>

  <%= f.input :price, placeholder: "Whats your hourly wage?" %>

  <%= f.input :skills, placeholder: "Ruby, JS, Python, ..." %>

  <%= f.submit %>
<% end %>
