<div class="container">

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"
<hr>

<h1><%= @dev.name %></h1>
<p><strong>gitHub link: </strong><%= @dev.github_link %></p>
<p><strong>Skills:</strong> <%= @dev.skills %></p>
<p><strong>Description:</strong> <%= @dev.description %></p>
<h2><strong>Price:</strong> (<%= @dev.price %>$/hr)</h2>

<%= link_to "Book now" %>
<%= link_to "Go back to all devs", devs_path %>
</div>