<div class="container">

<img class="avatar-large" alt="avatar-large" src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?b=1&s=170667a&w=0&k=20&c=-qQGlKM8OQsSJCEkHnqS9FI94VRTkZ-7tg0K0u02XL0="
<hr>
<h1><%= @dev.name %></h1>
<p><strong></strong> <%= @dev.description %></p>
<p><strong>gitHub link: </strong><%= @dev.github_link %></p>
<p><strong>Skills:</strong> <%= @dev.skills %></p>
<h3><strong>Rate: </strong> <%= @dev.price %>$/hr</h3>
<br>
<%= link_to "Book now", dev_jobs_path(@dev), class: "btn-flat"%>
</div>
