<div class="header-container">
  <h1 class="header-h1"><i class="fa-solid fa-mask"></i><strong> Tell <%= @dev.name %> about the job </strong> <i class="fa-solid fa-mask"></i></h1>
</div>
<%= simple_form_for([@dev, @job]) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.submit "Send Job offer", class: "btn-flat"%>
<% end %>
</div>
